

.nav-transparent .navbar-brand {
  font-weight: bold;
}
 .nav-transparent .navbar-brand:hover,
  .nav-transparent .nav-link:hover {
    color: #ff745c;
  }

 .favorites {
  background-color:  #abdb8f;
  
  font-weight: bold;
}
.fav-col{
  font-weight: normal;
}
.fav-col-head{
  font-style: italic;
  font-family: cursive;
  color:rgb(4, 0, 255) !important;

 
}
.card-header{
  font-style: italic;
  font-family: cursive;
  color:rgb(212, 156, 139) !important;
}
.card{
   border: 5px solid rgb(212, 159, 159)
  }

  .form-control, .btn{
    border-radius: 25px;
    border:3px solid #b1e956;
    color:rgb(9, 117, 9)
    
  }

  .search{
    box-sizing: content-box;
  }

  
.fav-col-head{
  font-style: italic;
  font-family: cursive;
 
}
