/* Signup page*/
nav {
  position: absolute;
  
}

.nav-transparent {
  background: linear-gradient(rgba(120, 238, 10, 0.4), transparent);
  font-size: 1.2em;
  z-index: 100;
}

.nav-transparent .nav-link,
.nav-transparent .navbar-brand, 
.nav-transparent p {
  color: rgb(59, 17, 247);
} 

.nav-transparent .navbar-brand {
  font-weight: bold;
}

.nav-transparent .navbar-brand:hover,
.nav-transparent .nav-link:hover {
  color: #ff745c;
}

body{
  background-image: url("/static/img/rec_ing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: #cccccc; 
}


.form-control{
  border:1px solid #b1e956;
  
}
.form-control, .btn{
  border-radius: 25px;
  border:2px solid #b1e956;
  
  
}

h2{
  color:crimson;
  font-weight:bold;
  font-family: sans-serif;
}
.form-group{
  
 font-family: sans-serif;
 color:darkcyan;
 font-weight: bold;
  
}