.row {
  /* Reset the counter for each row so it starts at 1 again */
  counter-reset: listCounter;
  margin-bottom: 10px;
}

.row:last-of-type {
  margin-bottom: 800px;
}

div[class^="col"] {
  min-height: 6em;
  /* Increment the counter for each column */
  counter-increment: listCounter;
  display: flex;
  justify-content: center;
  align-items: center;
}

div[class^="col"]::after {
  /* Display the current # of a column */
  content: counter(listCounter);
  font-weight: 900;
  color: black;
  font-size: 3em;
  font-family: 'Public Sans';
}

div[class^="col"].dark::after {
  color: white;
}

div[class^="col"]::before {
  /* Display class="classNames" for each column */
  content: 'class="' attr(class) '"';
  position: absolute;
  top: 0;
  left: 15px;
  font-family: monospace;
}
