{% extends 'base.html' %}
{% block title %} Create Your Own Recipe {% endblock %}
{%block head%} 
<link
      href="/static/css/add_recipe.css"
      rel="stylesheet"
    >
	{% endblock %}

{% block content %}

<div class="row p-5 mx-auto " style="width:1000px">

    <div class="col  ">
        <form id="form-submityourrecipe" class="needs-validation" action="/submit-your-recipe" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="recipe-title">Recipe Name</label>
                    <input type="input" class="form-control" id="recipe-title" name="recipe-title"
                        placeholder="Recipe Title" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" placeholder="Short Desc For Recipe"
                        name="description" required rows="3"></textarea>
                </div>
                <div class="form-group col-md-6">
                    <label for="instrictions">Instructions</label>
                    <textarea class="form-control" id="instructions" placeholder="Instructions For Recipe"
                        name="instructions" required rows="3"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="preptime">Prep Time</label>
                    <input type="text"  class="form-control" name="preptime" id="preptimeId" placeholder="Enter in minutes">
                </div>
                <div class="form-group col-md-4">
                    <label for="cooktime">Cook Time</label>
                    <input type="text"  class="form-control" name="cooktime" id="cooktimeId" placeholder="Enter in minutes">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="cuisine">Cuisine</label>
                    <select class="form-control" id="cuisine" name="cuisine">
                        <option value=""> --Select-- </option>
                        {% for key, value in cuisine_picklist.items() %}
                        <option value={{key}}>{{value}}</option>
                        {% endfor%}
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="diet">Diet</label>
                    <select class="form-control" id="diet" name="diet">
                        <option value=""> --Select-- </option>
                        {% for key, value in diet_picklist.items() %}
                        <option value={{key}}>{{value}}</option>
                        {% endfor%}
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="dishtype">Dish Type</label>
                    <select class="form-control" id="dishtype" name="dishtype">
                        <option value=""> --Select-- </option>
                        {% for key, value in dish_picklist.items() %}
                        <option value={{key}}>{{value}}</option>
                        {% endfor%}
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="ingredient">Ingredients</label>
                    <select class="form-control" name="ingredients" id="ingredientsId"
                        onchange="addingredient(this.value)" required>
                        <option value="">-- Select -- </option>
                        {% for key, value in ing_picklist.items() %}
                        <option value={{key}}>{{value}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="unit">Unit</label>
                    <select class="form-control" name="measure" id="measureId" required readonly>
                        <option value=""> -- Select -- </option>
                        {% for key, value in unit_picklist.items() %}
                        <option value={{key}}>{{value}}</option>
                        {% endfor %}
                        <option value="99"> Other </option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="quantity">Quantity</label>
                    <input type="number" step = "0.01" min=0 class="form-control" name="quantity" id="quantityId" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="input" class="form-control" name="ingredients" id="my-ingredients"
                        style="display:none;">
                </div>
            </div>
            <button type="button" class="btn btn-success" onclick="addrowtotable()"> Add</button>

            &nbsp;
            &nbsp;

            <div id="ingredientlist" class="form-group" col-md-6>

                <table id="myTableData" class="table table-sm">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th scope="col">Ingredient</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Quantity</th>
                            <th hidden="true"><b>IngredientId</b></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>


            <button type="submit" class="add-your-recipe-Button btn-success">Create Recipe</button>

            <script>
                function addingredient(val) {
                    var element = document.getElementById('my-ingredients');
                    if (val == "1") {
                        element.style.display = 'block'
                    }
                    else {
                        element.style.display = 'none';

                    }
                    var unittype = document.getElementById('measureId');
                    unittype.value = document.getElementById('ingredientsId').value;

                }
            </script>

            <script type="text/javascript" src="/static/js/app.js"></script>


        </form>

    </div>

</div>

{% endblock %}