{% extends 'base.html' %}
{% block title %} Yummy Recipe {% endblock %}
{%block head%} 
<link
      href="/static/css/homepage.css"
      rel="stylesheet"
    >
	{% endblock %}
{% block content %}

<div class=" carousel row bg-touch p-5 mx-auto " style="width:1000px">
	<div class="col">
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="d-flex align-content-center flex-wrap" style="width: 1200px; height: 350px;">
						<img src="{{recipe['image']}}" class="d-block w-100"
							alt="...">
						<div class="carousel-caption d-none d-md-block">
							<a href = "/recipe/details?id={{ recipe.id }}" title = "{{ recipe.title }}">
								<p class="px-5 text-dark bg-light">{{ recipe.title }}</p></a>
							
						</div>
					</div>
				</div>

				<div class="carousel-item ">
					<div class="d-flex justify-content-center flex-column" style=" height: 350px;">
						<center><p><h3 class="trivia px-5">Food Trivia.</h3></p>
						<p><h4>{{trivia['text']}}</h4></p></center>
					</div>
				</div>
				<div class="carousel-item">
					<div class="d-flex align-content-center flex-wrap" style="width: 1200px; height: 350px;">
						<img src="{{recipe1['image']}}" class="d-block w-100"
							alt="...">
						<div class="carousel-caption d-none d-md-block">
							<a href = "/recipe/details?id={{ recipe1.id }}" title = "{{ recipe1.title }}">
								<p class="px-5 text-dark bg-light">{{ recipe1.title }}</p></a>
						</div>
					</div>
				</div>

			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</div>

{% endblock %}