{% extends 'base.html' %}
{% block title %} Login Page {% endblock %}
{%block head%} 
<link
      href="/static/css/login.css"
      rel="stylesheet"
    >
	{% endblock %}

{% block content %}

<form class="form-signin" action="/signin" method="POST">
  <div class="text-center">
    <div class="form-group">
      <label> Email address
        <input type="email" name = "email" class="form-control" placeholder="Enter email" required>
      </label>
    </div>

    <div class="form-group">
      <label>Enter Password
        <input type="password" name = "password" class="form-control" placeholder="Password" required>
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
    <br>
    <a href="/signup">Sign Up</a>

    <div>

</form>



{% endblock %}