{% extends 'base.html' %}
{% block title %} Login Page {% endblock %}
{% block content %}
    <form class="form-signin" action = "/signin" method = "POST"> 
  <h2 class="form-signin-heading">Please Login</h2>
  <div>
  <input type = "email" name = "email" placeholder = "Email Address" required>
  </div>
  
  <div>
  <input type = "password" name = "password" placeholder = "Password" required>
  </div>
  <br>
  <div>
  <button type = "submit" class = "loginButton"> Sign In</button>
  </div>

  <br>  
  <a href="/signup">Sign Up</a>

  {#{% with messages = get_flashed_messages() %}
  {% for message in messages %}
      <div class="alert alert-warning">{{ message }}</div>
  {% endfor %}
  {% endwith %} #}
 
</form>

{% endblock %}

