{% extends 'base.html' %}
{% block title %} {{recipe['title']}} {% endblock %}

{% block content %}

{% if session['fname'] %}
<h1>Welcome, {{ session['fname'] }}<h1>
  {% endif %} 

<div style="max-width: 70%; margin: auto; padding-top:3%">
  <div class="media">
      <img src="{{recipe['image']}}" class="mr-3" alt="..." width="30%" height="30%">
    
      <!-- adding form to get the details from recipedetail pg and pass to the server-->
      <form action="/add-to-favorite" method="POST">
        <input type = "hidden" name = "recipe-id" value = "{{ recipe ['id']}}"> 
        <input type = "hidden" name = "recipe-title" value = "{{ recipe['title'] }}">
        <input type = "hidden" name = "recipe-instructions" value = "{{ recipe['instructions'] }}">

        {% if show_fav_link: %}
        <textarea id="review" placeholder= "Write your review" name = "review-notes" minlength="10" maxlength="150"></textarea>
         <div> 
        <button type="submit" name="addtofavorite" class="btn-link">Add To Fav</button>
        {% else: %}
        You added this recipe to favorites
        {% endif %}

       {# {% for flash in get_flashed_messages() %}
                    {{ flash }}
        {% endfor %} #}
        </div>

        </form>
      
      <div class="media-body">
        <h5 class="mt-0">{{recipe['title']}}</h5>
       {% if recipe['instructions'] %}
          {{recipe['instructions']}}
        {% else %}
          {{recipe['summary']}}
        {% endif %}

      </div>
  </div><br>
  
  <section class="nutrition-section container">
    <h2 class="section-headline">
      <a id="nutrition"></a>
      <span class="section-icon " aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" role="img" aria-hidden="true">
          <path d="M4 11.116S3.954 9.6 5.282 9.6h2.241c1.325 0 1.277 1.516 1.277 1.516V20H4v-8.884zm5.6-5.632S9.554 4 10.881 4h2.242C14.446 4 14.4 5.484 14.4 5.484V20H9.6V5.484zm5.6 9.531s-.043-1.415 1.277-1.415h2.242c1.324 0 1.28 1.415 1.28 1.415V20H15.2v-4.985z"></path></svg>
      </span>
      Nutrition Facts 
    </h2>
    <div class="partial recipe-nutrition-section">
      <div class="section-label">Per Serving:</div>
      <div class="section-body">
        Calories: {{recipe['calories']}} 
        Carbohydrates: {{recipe['carbs']}} 
        Fat: {{recipe['fat']}} 
        Protein: {{recipe['protein']}} 
        Cuisines: {{recipe['cuisines']}}
        dishType: {{recipe['dishTypes']}}
        diets: {{recipe['diets']}}
        Vegan: {{recipe['vegan']}}
        Vegetarian: {{recipe['vegetarian']}}
        GlutenFree: {{recipe['glutenFree']}}
        DairyFree: {{recipe['dairyFree']}}
        VeryHealthy: {{recipe['veryHealthy']}}
        Price-Per-Serving: {{recipe['pricePerServing']}}
        Ready-In-Minutes: {{recipe['readyInMinutes']}} 

       {# Calories: {{res[0].calories}} 
        Carbohydrates: {{res[0].carbs}} 
        Fat: {{res[0].fat}} 
        Protein: {{res[0].protein}} 
        Cuisines: {{cuisines}}
        dishType: {{dishType}}
        diets: {{diets}}
        Vegan: {{res[0].vegan}}
        Vegetarian: {{res[0].vegetarian}}
        GlutenFree: {{res[0].glutenFree}}
        DairyFree: {{res[0].dairyFree}}
        VeryHealthy: {{res[0].veryHealthy}}
        Price-Per-Serving: {{res[0].pricePerServing}}
        Ready-In-Minutes: {{res[0].readyInMinutes}} #}

      </div>
      
    </div>
  </section>

  <div class = ""> <div> 
    <h3> prep time</h3>
  </div></div>
  {{recipe['inregdientsWidget'] | safe }}<br>
  {{recipe['equipmentWidget'] | safe}}  
</div>
{% endblock %}